@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            
            <select class="form-select" aria-label="Arch">
                <option>x86</option>
                <option>sh3</option>
            </select>

            <select class="form-select">
                <option>16 Bit</option>
            </select>

            <select class="form-select">
                <option>Little Endian</option>
            </select>

            <input class="form-control" value="0x0" readonly />

            <select class="form-select">
                <option>Prettified</option>
            </select>

            <a href="https://github.com/xafero/Disasm" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
