@page "/"

<PageTitle>Disasm Max | Online Disassembler</PageTitle>

<style>
    .my-panel {
        height: 90%;
        font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
    }
</style>

<div class="row g-3 p-3 min-vh-100">
    <div class="col-6 d-flex">
        <div class="editor-panel flex-fill d-flex">
            <textarea id="left" class="form-control flex-fill my-panel">
            </textarea>
        </div>
    </div>
    
    <div class="col-6 d-flex">
        <div class="output-panel flex-fill d-flex">
            <textarea id="right" class="form-control flex-fill my-panel">
            </textarea>
        </div>
    </div>
</div>
