@page "/"
@using Disasm.Lib
@using Disasm.Web.Models

<PageTitle>Disasm Max | Online Disassembler</PageTitle>

<style>
    .my-panel {
        height: 90%;
        font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
    }
</style>

<div class="row g-3 p-3 min-vh-100">
    <div class="col-6 d-flex">
        <div class="editor-panel flex-fill d-flex">
            <textarea @bind="LeftTa" id="left" class="form-control flex-fill my-panel" readonly>
            </textarea>
        </div>
    </div>
    
    <div class="col-6 d-flex">
        <div class="output-panel flex-fill d-flex">
            <textarea @bind="RightTa" id="right" class="form-control flex-fill my-panel">
            </textarea>
        </div>
    </div>
</div>

@code {
    // ReSharper disable InconsistentNaming

    private string? LeftTa
    {
        get;
        set
        {
            if (field == value) return;
            OnLeftChange(field = value);
        }
    }

    private string? RightTa
    {
        get;
        set
        {
            if (field == value) return;
            OnRightChange(field = value);
        }
    }

    private static void OnLeftChange(string? txt)
    {
        /* TODO */
    }

    private void OnRightChange(string? txt)
    {
        if (string.IsNullOrWhiteSpace(txt))
        {
            LeftTa = string.Empty;
            return;
        }
        var kind = (DisasmKind)State.Arch;
        LeftTa = Disasms.Parse(txt, kind).ToText();
    }
}
