name: .NET Build

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
    - name: Checkout main
      uses: actions/checkout@v4
      with:
        path: main

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore workloads
      working-directory: main
      run: dotnet workload install wasm-tools

    - name: Restore dependencies
      working-directory: main
      run: dotnet restore

    - name: Build
      working-directory: main
      run: dotnet build -c Release --no-restore

    - name: Create demo
      working-directory: main
      run: dotnet publish src/Disasm.Web -c:Release -o:publish -p:GHPages=true

    - name: Deploy demo
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: main/publish/wwwroot
        force_orphan: true

